.inlineCodeSuite-console {
  overflow: auto;

  .cm-s-input {
    height: auto;
  }

  .cm-s-output {
    height: auto;
    margin-bottom: -0.57rem;

  }

  .CodeMirror-gutters {
    left: 9px;
  }

  .CodeMirror-gutter {
    &.prompt, &.output {
      width: 25px;
    }
    &.prompt::before {
      content: '\e5cc';
      color: #888;
      font-family: 'material icons';
      font-size: 20px;
      margin: -8px 0px 0px -5px;
      position: absolute;
      top: 8px;
    }
  }
}